<div class="bg-landing-page">
  <div id="login-page" class="container p-5">
      <%= image_tag 'stock_flow_blue.png', class: "img-login-signup" %>  
    <div class="d-flex registration-box">
      <div class="signup">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :cpnj,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "off", id: "cpnj" } %>
            <%= f.input :name,
                        required: true,
                        autofocus: true,
                        label: "Razão Social",
                        input_html: { class: "form-control", id: "name" } %>

            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email", id: "email" } %>


            <%= f.input :phone,
                        required: true,
                        autofocus: true,
                        input_html: { type: "phone", autocomplete: "tel", id: "phone" } %>

            <%= f.input :address,
                        required: true,
                        autofocus: true,
                        input_html: { type: "text", autocomplete: "address", id: "address" } %>

            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>

            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>

            <%= f.input :photo, as: :file %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  document.getElementById('cpnj').addEventListener('blur', function() {
    fetch('/get_company_data?cnpj=' + this.value)
      .then(response => response.json())
      .then(data => {
        if (data.status === 'OK') {
          document.getElementById('name').value = data.nome;
          document.getElementById('phone').value = data.telefone;
          document.getElementById('email').value = data.email;
          document.getElementById('address').value = data.logradouro + ', ' + data.numero + ', ' + data.bairro + ', ' + data.municipio + ', ' + data.uf;
        } else {
          alert('Erro ao buscar dados da empresa: ' + data.message);
        }
      });
  });
</script>
