<h1>Stock#show</h1>
<p><%= link_to "Back", root_path%></p>
<h2><%= @stock.product.name %></h2>
<ul>
    <%= cl_image_tag @stock.product.photo.key %>
  <li><strong>Name:</strong> <%= @stock.product.name %></li>
  <li><strong>Description:</strong> <%= @stock.product.description %></li>
  <li><strong>Expiration:</strong> <%= @stock.product.expiration %></li>
  <li><strong>Location:</strong><%= @stock.product.location %></li>
</ul>