<div class="navbar navbar-expand-sm navbar-light navbar-search pt-2">
  <div class="container-fluid">
    <% if user_signed_in? %>
      <div class="nav-item dropdown">

        <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <% if current_user.photo.present? %>
              <%= cl_image_tag current_user.photo.key, crop: :fill, class: "avatar", alt: "dropdown menu" %>
            <% else %>
              <%= image_tag 'stock_flow.png', crop: :fill, class: "avatar", alt: "dropdown menu" %>
            <% end %>
            </a>
        <div class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Action", "#", class: "dropdown-item" %>
          <%= link_to "Another action", "#", class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item"%>
        </div>
      </div>

      <div class="row justify-content-center mb-2">
        <div class="col-sm-8 my-3 search-bar">
          <%= form_with url: products_path, method: :get, class: "d-flex search-form" do %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control-mine mr-5 input-search",
                  placeholder: "Type a product or category"
            %>
            <%= submit_tag "Search", name: "", class: "search" %>
          <% end %>
        </div>
      </div>

      <%= link_to offers_path, class: "navbar-brand" do %>
        <i class="fa-regular fa-bell fa-xl" style="color: #ffffff;"></i>
      <% end %>
    <% else %>
      <li class="nav-item login-click">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
      <div class="row justify-content-center mb-2">
        <div class="col-sm-8 my-3 search-bar2">
          <%= form_with url: products_path, method: :get, class: "d-flex search-form" do %>
            <%= text_field_tag :query,
                  params[:query],
                  class: "form-control-mine input-search",
                  placeholder: "Type a product or category"
            %>
            <%= submit_tag "Search", name: "", class: "search" %>
          <% end %>
        </div>
      </div>
      <div></div>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>

<div class="navbar navbar-expand-sm navbar-light bg-light navbar-list">
  <ul class="navbar-van2 me-auto">
  <% if user_signed_in? %>
    <%= link_to products_path do%>
      <li class="nav-item nav-item-li">HOME</li>
    <% end %>
    <%= link_to my_products_products_path do%>
      <li class="nav-item nav-item-li">YOUR PRODUCTS</li>
    <% end %>
    <%= link_to new_product_path do%>
      <li class="nav-item nav-item-li">ADD PRODUCT</li>
    <% end %>
    <%= link_to offers_path do%>
      <li class="nav-item nav-item-li">OFFERS</li>
    <% end %>
  <% else %>
    <%= link_to products_path do%>
      <li class="nav-item nav-item-li">HOME</li>
    <% end %>
    <%= link_to new_user_session_path do%>
      <li class="nav-item nav-item-li">YOUR PRODUCTS</li>
    <% end %>
    <%= link_to new_user_session_path do%>
      <li class="nav-item nav-item-li">ADD PRODUCT</li>
    <% end %>
    <%= link_to new_user_session_path do%>
      <li class="nav-item nav-item-li">OFFERS</li>
    <% end %>
  <% end %>
  </ul>
</div>

<script>
  function updateNumOffersBadge() {
    $.ajax({
      url: "/offers/num_received",
      type: "GET",
      dataType: "json",
      success: function(data) {
        $("#num-offers-badge").text(data.num_received);
      },
      error: function(jqXHR, textStatus, errorThrown) {
        console.log("Error fetching number of offers received: " + errorThrown);
      }
    });
  }

  $(document).ready(function() {
    // Update the number of offers received every 30 seconds
    setInterval(updateNumOffersBadge, 30000);
  });
</script>
