<div class="navbar navbar-expand-sm navbar-light navbar-search pt-2">
  <div class="container-fluid">
    <% if user_signed_in? %>
      <div class="nav-item dropdown">
        <a href="#" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa-regular fa-circle-user fa-2xl" style="color: #ffffff;" alt="dropdown menu"></i>
        </a>
        <div class="dropdown-menu dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to "Action", "#", class: "dropdown-item" %>
          <%= link_to "Another action", "#", class: "dropdown-item" %>
          <%# <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        </div>
      </div>

      <%= link_to my_products_products_path, class: "navbar-brand" do %>
        <i class="fa-regular fa-bell fa-xl" style="color: #ffffff;"></i>
      <% end %>
    <% else %>
      <li class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </li>
    <% end %>

    <%# <%= link_to my_products_products_path, class: "navbar-brand" do %>
      <%# <i class="fa-regular fa-heart fa-xl"></i> %>
    <%# <% end %>




    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%# <div class="collapse navbar-collapse" id="navbarSupportedContent"> %>
      <%# <ul class="navbar-van me-auto"> %>
        <%# <% if user_signed_in? %>
          <%# <li class="nav-item active"> %>
            <%# <%= link_to "#", class: "nav-link text-center" do %>
              <%# <i class="fa-regular fa-handshake fa-2xl"></i> %>
            <%# <% end %>
          <%# </li> %>
          <%# <li class="nav-item"> %>
            <%# <%= link_to "#", class: "nav-link text-center" do %>
              <%# <i class="fa-regular fa-comments fa-2xl"></i> %>
            <%# <% end %>
          <%# </li> %>
        <%# <% else %>
          <%# <li class="nav-item"> %>
            <%# <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          <%# </li> %>
        <%# <% end %>
      <%# </ul> %>
    <%# </div> %>
  </div>
</div>
<div class="navbar navbar-expand-sm navbar-light bg-light navbar-list">
  <ul class="navbar-van2 me-auto">
  <%= link_to products_path do%>
    <li class="nav-item">HOME</li>
  <% end %>
  <%= link_to products_path do%>
    <li class="nav-item">YOUR PRODUCTS</li>
  <% end %>
  <%= link_to products_path do%>
    <li class="nav-item">ADD PRODUCT</li>
  <% end %>
  <%= link_to products_path do%>
    <li class="nav-item">OFFERS</li>
  <% end %>
  <%= link_to products_path do%>
    <li class="nav-item">TRADES</li>
  <% end %>
  <%= link_to products_path do%>
    <li class="nav-item">CHAT</li>
  <% end %>
  </ul>
</div>
      <%= link_to my_products_products_path, class: "navbar-brand" do %>
        <i class="fa-regular fa-bell fa-xl" style="color: #ffffff;"></i>
      <% end %>
