<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.pixabay.com/photo/2016/12/06/01/26/colour-1885352_1280.jpg)">
  OFFERS
</div>
<div class="container mt-5">
   <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#" data-target="#my-offers">My Offers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" data-target="#offers-received">Offers Received</a>
    </li>
  </ul>

  <div id="my-offers" class="card-deck">
    <% @offers.each do |offer| %>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Offer for <%= offer.product.name %></h5>
        </div>
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Offered Products:</h6>
          <ul>
            <% offer.trades.each do |trade| %>
              <li><%= trade.product.name %> (<%= trade.product.quantity %>)</li>
            <% end %>
          </ul>
          <p class="card-text">Status: <%= offer.status.capitalize %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div id="offers-received" class="card-deck d-none">
    <% @received_offers.each do |offer| %>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Offer from <%= offer.user.name %> for <%= offer.product.name %></h5>
        </div>
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Offered Products:</h6>
          <ul>
            <% offer.trades.each do |trade| %>
              <li><%= trade.product.name %> (<%= trade.product.quantity %>)</li>
            <% end %>
          </ul>
          <p class="card-text">Status: <%= offer.status.capitalize %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>




<script>
  function attachEventHandlers() {
    const links = document.querySelectorAll('.nav-link:not([data-events-attached])');
    const cardDecks = document.querySelectorAll('.card-deck');

    links.forEach((link, index) => {
      link.dataset.eventsAttached = 'true'; // Mark this element as having events attached
      link.addEventListener('click', (event) => {
        event.preventDefault();
        document.querySelectorAll('.nav-link').forEach((link) => link.classList.remove('active'));
        document.querySelectorAll('.card-deck').forEach((cardDeck) => cardDeck.classList.add('d-none'));
        link.classList.add('active');
        cardDecks[index].classList.remove('d-none');
      });
    });
  }

  attachEventHandlers();
</script>

