<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.pixabay.com/photo/2016/12/06/01/26/colour-1885352_1280.jpg)">
  OFFERS
</div>
<div class="container mt-5" data-controller="offers">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#" data-action="click->offers#updateCards" data-offers-target="myOffers">My Offers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" data-action="click->offers#updateCards" data-offers-target="offersReceived">Offers Received</a>
    </li>
  </ul>

  <div id="my-offers" class="card-deck" data-offers-target="myCardDeck">
    <% @offers.each do |my_offer| %>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Offer for <%= my_offer.product.name %></h5>
        </div>
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Offered Products:</h6>
          <ul>
            <% my_offer.trades.each do |trade| %>
              <li><%= trade.product.name %> (<%= trade.product.quantity %>)</li>
            <% end %>
          </ul>
          <p class="card-text">Status: <%= my_offer.status.capitalize %></p>
        </div>
      </div>
    <% end %>
  </div>


  <div id="offers-received" class="card-deck" data-offers-target="receivedCardDeck">
    <% @received_offers.each do |offer|%>
      <a href="<%= offer_path(offer) %>" class="card">
        <div class="card-header">
          <h5 class="card-title">Offer from <%= offer.user.name %> for <%= offer.product.name %></h5>
        </div>
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Offered Products:</h6>
          <ul>
            <% offer.trades.each do |trade| %>
              <li><%= trade.product.name %> (<%= trade.product.quantity %>)</li>
            <% end %>
          </ul>
          <p class="card-text">Status: <%= offer.status.capitalize %></p>
        </div>
      </a>
    <% end %>
  </div>
</div>
