<div class="row" data-controller="sortable">
  <div class="col-md-4" data-sortable-target="container">
    <h2 class="sortable-ignore">Products to Offer</h2>
    
    <% @products.each do |product| %>
      <div data-sortable-target="card">
          <% if product.photo.present? %>
            <%= cl_image_tag product.photo.key, height: 100, width: 133, crop: :fill %>
          <% else %>
            <%= image_tag 'space_baazar.png', height: 100, width: 133, crop: :fill, class: "image" %>
          <% end %>
        <div><strong>Name:</strong> <%= product.name %></div>
        <div><strong>Expiration:</strong> <%= product.expiration %></div>
        <div><strong>Quantity:</strong> <%= product.quantity %></div>
      </div>
    <% end %>
    
  </div>
  <div class="col-md-4" data-sortable-target="container">
    <h2 class="sortable-ignore">Products Offered</h2>
  </div>
  <div class="col-md-4">
    <h2>Product</h2>
    <ul>
      <div>
        <% if @product.photo.present? %>
          <%= cl_image_tag @product.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <%= image_tag 'space_baazar.png', height: 300, width: 400, crop: :fill, class: "image" %>
        <% end %>
      </div >
      <div class="card description">
        <li><strong>Description: </strong> <%= @product.description %></li>
        <li><strong>Expiration: </strong> <%= @product.expiration %></li>
        <li><strong>Quantity: </strong> <%= @product.quantity %></li>
      </div>
    </ul>
  </div>
</div>