<!-- app/views/offers/show.html.erb -->

<div class="offer-details">
  <h1>Offer details</h1>

  <div class="user-details">
    <strong>User:</strong>
    <%= @offer.user.name %>
  </div>

  <div class="product-details">
    <strong>Product to offer for:</strong>
    <div class="product-image">
      <% if @offer.product.photo.present? %>
        <%= cl_image_tag @offer.product.photo.key, height: 300, width: 400, crop: :fill %>
      <% else %>
        <%= image_tag 'space_baazar.png', height: 300, width: 400, crop: :fill %>
      <% end %>
    </div>
    <div class="product-info">
      <p><strong>Name:</strong> <%= @offer.product.name %></p>
      <p><strong>Quantity:</strong> <%= @offer.product.quantity %></p>
    </div>
  </div>

  <div class="products-offered">
    <h2>Products offered:</h2>
    <% @offer.trades.each do |trade| %>
      <div class="product-offered">
        <div class="product-image">
          <% if trade.product.photo.present? %>
            <%= cl_image_tag trade.product.photo.key, height: 300, width: 400, crop: :fill %>
          <% else %>
            <%= image_tag 'space_baazar.png', height: 300, width: 400, crop: :fill %>
          <% end %>
        </div>
        <div class="product-info">
          <p><strong>Name:</strong> <%= trade.product.name %></p>
          <p><strong>Quantity:</strong> <%= trade.product.quantity %></p>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to 'Back to Offers', offers_path %>
</div>