<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(	https://www.adorama.com/alc/wp-content/uploads/202…_22_Kowloon_Spiral_50Slices_v13b_edit-825x465.jpg)">
  HOME
</div>
<div class="container mt-5">
  <div class="cards-wrapper">
    <% @products.each do |product| %>
      <%= link_to product_path(product), class: "card-listing" do %>
        <div class="card-product">
          <% if product.photo.present? %>
            <%= cl_image_tag product.photo.key, height: 300, width: 400, crop: :fill %>
          <% else %>
            <%= image_tag 'space_baazar.png', height: 300, width: 400, crop: :fill %>
          <% end %>
        </div>
        <div class="d-flex justify-content-between align-items-center position-relative">
          <div class="card-product-infos">
            <h2><%= product.name %></h2>
            <span class="qtd">Qtd.<%= product.quantity %></span>
          </div>
          <% if product.user.photo.attached? %>
            <%= cl_image_tag product.user.photo.key, class: "avatar-card avatar", alt: "avatar-large" %>
          <% else %>
            <img class="avatar-card avatar" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
