<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdn.pixabay.com/photo/2019/08/17/16/11/art-4412523_1280.jpg)">
  HOME
</div>
<div class="container mt-5">
  <div class="row justify-content-center">
      <% @products.each do |product| %>
        <div class="col-md-2 col-5 border-card">
            <%= link_to product_path(product), class: "card-listing " do %>
              <div class="card-product avatar_father">
                <% if product.photo.present? %>
                  <%= cl_image_tag product.photo.key, height: 300, width: 400, crop: :fill %>
                <% else %>
                  <%= image_tag 'space_baazar.png', height: 300, width: 400, crop: :fill %>
                <% end %>
              </div>
              <div class="d-flex justify-content-between align-items-center position-relative">
                <div class="card-product-infos">
                  <h2><%= product.name %></h2>
                  <span class="qtd">Qtd.<%= product.quantity %></span>
                </div>
              </div>
            <% end %>
        </div>
      <% end %>
  </div>
</div>
