<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(	https://cdn.pixabay.com/photo/2020/12/10/20/40/color-5821297_1280.jpg)">
  DETAILS
</div>
<div class="container mt-5">
  <h2 class="subtitle"><%= @product.name %></h2>
    <div class="details d-flex justify-content-center align-items-center mt-4">
      <ul class=" card-img-desc d-flex">
        <% if @product.photo.present? %>
          <%= cl_image_tag @product.photo.key, height: 300, width: 400, crop: :fill %>
        <% else %>
          <%= image_tag 'space_baazar.png', height: 300, width: 400, crop: :fill, class: "image" %>
        <% end %>
        <div class="card description">
          <li><strong>Description: </strong> <%= @product.description %></li>
          <li><strong>Expiration: </strong> <%= @product.expiration %></li>
          <li><strong>Quantity: </strong> <%= @product.quantity %></li>
          </div>
      </ul>
    </div>
    <div>
      <div class="d-flex justify-content-center">
        <div class="card p-4 card-user-info justify-content-center">
          <h3>User Information</h3>
          <h5 class="card-title"><%= @product.user.name %></h5>
          <p class="card-text"><strong>CNPJ:</strong> <%= @product.user.cpnj %></p>
          <p class="card-text"><strong>Address:</strong> <%= @product.user.address %></p>
          <p class="card-text"><strong>Phone:</strong> <%= @product.user.phone %></p>
        </div>
      </div>

      <div class="card p-4 card-user-info justify-content-center">
        <h2>Owner information:</h2>
        <h3 class="card-title"><%= @product.user.name %></h3>
        <p class="card-text"><strong>CNPJ:</strong> <%= @product.user.cpnj %></p>
        <p class="card-text"><strong>Address:</strong> <%= @product.user.address %></p>
        <p class="card-text"><strong>Phone:</strong> <%= @product.user.phone %></p>
      </div>
      <div class="btns d-flex mt-5 justify-content-around">
        <div>
        <p><%= link_to "Back", :back, class: "btn-blue" %></p>
          <% if current_user != @product.user %>
            <%= link_to "Make Offer", new_product_offer_path(@product), class: "btn-blue" %>
            <% if Chatroom.exists?(user: current_user, user_two: @product.user)%>
              <% chatroom = Chatroom.find_by(user: current_user, user_two: @product.user) %>
              <%= link_to "Chat", chatroom_path(chatroom), class: "btn-blue" %>
            <% elsif Chatroom.exists?(user: @product.user, user_two: current_user)%>
              <% chatroom = Chatroom.find_by(user: @product.user, user_two: current_user) %>
              <%= link_to "Chat", chatroom_path(chatroom), class: "btn-blue" %>
            <% else %>
              <%= link_to "Chat", product_chatrooms_path(@product), data: {turbo_method: :post}, class: "btn-blue" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
