<div class="container p-5 mt-5">
  <h1>DETAILS</h1>

  <h2><%= @product.name %></h2>
  <ul>
    <% if @product.photo.present? %>
      <%= cl_image_tag @product.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <%= image_tag 'space_baazar.png', height: 300, width: 400, crop: :fill %>
    <% end %>
    <li><strong>Name:</strong> <%= @product.name %></li>
    <li><strong>Description:</strong> <%= @product.description %></li>
    <li><strong>Expiration:</strong> <%= @product.expiration %></li>
    <li><strong>Location:</strong><%= @product.location %></li>
  </ul>

  <div class="card mt-5">
    <div class="card-header">
      <h3>User Information</h3>
    </div>
    <div class="card-body">
      <h5 class="card-title"><%= @product.user.name %></h5>
      <p class="card-text"><strong>CNPJ:</strong> <%= @product.user.cpnj %></p>
      <p class="card-text"><strong>Address:</strong> <%= @product.user.address %></p>
      <p class="card-text"><strong>Phone:</strong> <%= @product.user.phone %></p>
    </div>
  </div>

  <% if current_user != @product.user %>
    <%= link_to "Make Offer", new_product_offer_path(@product), class: "btn-blue" %>
  <% end %>
  <p class="btn-blue"><%= link_to "Back", :back, class: "btn-blue" %></p>
</div>

